section {
    padding-top: 100px;
}

.menu {
    display: grid;
    grid-template-columns: 75vw;
}

.menu div {
  height: 10vh;
  border: 1px solid #000000;
}

.cssgriddoublewide {
  grid-column: 1 / span 1;
}

