body {
    background-color: white;   
    perspective: 5000px;
    transform-style: preserve-3d; 
}

#folder {
    width: 200px;
    height: 150px;
    position: fixed;
    transform-origin: center;
    top: calc(50vh - 75px);
    left: calc(50vw - 100px);
    perspective: (200px);
    transform-style: preserve-3d;
}

#folderfront {
    position: fixed;
    transform-origin: bottom center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

#folderfront1 {
    background-image: url('folderfront.png');
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#folderback1 {
    background-image: url('folderback.png');
    position: fixed;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}


#folderback {
    position: fixed;
    transform-origin: bottom center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    backface-visibility: hidden;
    /* background-color: red; */
    /* transform: rotateY(180deg);  */
}

#folderfront2 {
    background-image: url('folderfront.png');
    position: fixed;
    /* transform: rotateY(180deg); */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* backface-visibility: hidden; */
}

#folderback2 {
    background-image: url('folderback.png');
    position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}