body {
    background-color: white;   
    perspective: 5000px;
    transform-style: preserve-3d; 
}

#folder {
    width: 400px;
    height: 300px;
    position: fixed;
    transform-origin: bottom center;
    top: calc(50vh - 150px);
    left: calc(50vw - 200px);
    perspective: (200px);
    transform-style: preserve-3d;
}

#folderfront {
    position: fixed;
    transform-origin: bottom center;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    transform-style: preserve-3d;
}

#folderfront1 {
    background-image: url('folderfront.png');
    position: fixed;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#folderback1 {
    background-image: url('folderback.png');
    position: fixed;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}


#folderback {
    position: fixed;
    transform-origin: bottom center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    backface-visibility: hidden;
    background-color: red;
    /* transform: rotateY(180deg);  */
}