body {
    margin: 0;
    
}

.header {
    width: 100vw;
    height: 10vh;
    background: #1abc9c;
    text-align: center;
    font-family: 'David';
}

.gridbody {
    display: grid;
    margin-left: 5vw;
    margin-top: calc(5vh + 10px);
    width: 90vw;
    grid-template-columns: 80% 20%;
    height: calc(55vh + 20px);
    place-items: center;
}

.scrollbar {
    border: 0.2px solid #1abc9c; 
    border-color: #1abc9c;
}

.col1 {
    display: grid;
    grid-template-rows: repeat(5, 10vh);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div {
    border-radius: 1px;
    border-color: #000000;
    }

.itemselect {
    border: 0.2px solid #1abc9c;
    border-radius: 5px;
}

.footer {
    width: 100vw;
    height: calc(10vh);
    background: #000000
}